<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        {% for post in posts %}
            {{ post }}
        {% endfor %}

        {% for post in posts %}
        <div>
            <h1><a href="/">俺様のブログ</a></h1>
            <p>published: 08.06.2022, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日:2022年6月8日</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
        {% endfor %}
    </body>
</html>